<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="asset/style.css">
    <title>Layout-1-2-1</title>
</head>
<body>
    <section class="d-flex center wrap">

        <div class="w-100" id="topSection"></div>

        <section class="d-flex center wrap w-90" id="midleSection">

            <div class="w-50" id="leftSection"></div>

            <div class="w-50" id="rightSection"></div>

        </section>

        <div class="w-100" id="bottomSection"></div>

    </section>
</body>
</html>