<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="asset/style.css">
    <title>Layout-2-1-1</title>
</head>
<body>
    <section class="d-flex center column">

        <section class="d-flex center column" id="topSection">
            
            <div id="leftSection-1"></div>

            <div id="rightSection-1"></div>

        </section>

        <div id="midleSection"></div>

        <div id="bottomSection"></div>

    </section>
</body>
</html>