@import url("mainClass.css");

form {
    width: 100%;
    background-color: rgba(60, 60, 60, .1);
    box-shadow: 2px 2px 4px rgb(60, 60, 60);
}
.w-max {
    width: max-content;
   }
.w-90 {
    width: 90%;
   }
.w-80 {
    width: 80%;
}
.w-60 {
 width: 60%;
}
.w-50 {
    width: 50%;
}
.w-40 {
    width: 40%;
}
.w-20 {
    width: 20%;
}
.w-min {
    width: min-content;
}
.border-none {
    border: none;
}
.border-green {
    border: solid 2px rgb(17, 184, 89);
}
.border-rad {
    border-radius: .5em;
}
.background-none {
    background-color: rgba(255, 255, 255, 0);
}
.background-green {
    background-color: rgb(17, 184, 89);
    color: #fff;
}
.margin-all {
    margin: .5em;
}
.margin-b {
    margin-bottom: .5em;
}
.padding-all {
    padding: .2em;
}
.padding-lr {
    padding: 0 .2em;
}
.padding-tb {
    padding: .2em 0;
}