@import url("mainClass.css");

form {
    width: 100%;
    background-color: rgba(60, 60, 60, .1);
    box-shadow: 2px 2px 4px rgb(60, 60, 60);
}
.border-green {
    border: solid 2px rgb(17, 184, 89);
}
.border-rad {
    border-radius: .5em;
}
.background-green {
    background-color: rgb(17, 184, 89);
    color: #fff;
}