@import url("mainClass.css");

form {
    width: 100%;
    background-color: rgba(110, 110, 110, 0.1);
    box-shadow: 2px 2px 4px rgb(90, 90, 90);
}
.border-blue {
    border: solid 2px rgb(26, 30, 252);
}
.border-rad {
    border-radius: 1px;
}
.background-blue {
    background-color: rgb(26, 30, 252);
    color: #fff;
}